body{
 margin: 0;   
 font-family: "Lexend Mega", sans-serif;
 color: black;
 background-color: white;
 font-size: 22px;
 text-align: center;
 display: block;
}

/* Header */
.header{
display: flex;
flex-direction: column;
align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-around;
    margin: 0 10%;
}

.navbar p{
    display: inline-block;
    padding: 10px 10px;
    color: black;
}

a{
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

/* Mission */

.main{
    padding-top: 35px;
    opacity: 0.9;
}

.mission{
    display: flex;
    height: 300px;
    padding-top: 35px;
    background-image: url("https://content.codecademy.com/PRO/independent-practice-projects/flexbox-business-site/img/skyscrapers.jpg")
}

.mission .content{
    margin: auto;
    background-color: white;
    width: 100%;
}

/* Portfolio */

.companies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.company{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company img{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 10px;
    height: auto;
}

.company span{
    padding: 5px;
    min-width: 240px;
    font-weight: bold;
    text-align: center;
}

/* Team */

.team{
    background-image: url("https://content.codecademy.com/PRO/independent-practice-projects/flexbox-business-site/img/blurred-road.jpg");
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teammate{
    padding: 10px;
    color: white;
    flex-basis: 280px;
}

.teammate img{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
}
/* Contact */
.contact{
    padding-top: 20px;
}